.container {
    max-width: 150px;
    min-width: 100px;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: center;
    text-align: center;
    color: white;
    cursor: pointer;

    & a {
        color: white;
    }

    :hover {
        color: black;
    }
}
