.container {
    padding: 30px;
    margin-bottom: 30px;
    background: rgb(0, 2, 3);
    background: linear-gradient(333deg, rgb(93, 180, 134) 10%, rgb(224, 255, 237) 50%, rgb(93, 180, 134) 90%);

    & p {
        margin: 20px 0;
    }

    & span {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
