.container {
    padding: 0 15px;
    min-height: 450px;
    max-height: 450px;
    margin-bottom: 50px;
}

.title {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.description {
    margin: 10px 0;
    color: rgb(128, 128, 128);
    font-size: 14px;
}
