.container {
    background-color: #ffffff;
    width: 70%;
    padding: 20px 0;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Roboto Light", sans-serif;
}
