.userSupport {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: black;

    & a {
        color: #3f795a;
        font-size: 14px;
    }

    & a:link {
        color: black;
    }
}

.signUp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 40%;
    margin-bottom: 30px;
}
