.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
}

.input {
    width: 95%;
    font-size: 16px;
    border: 1px solid transparent;
    outline: none;
    box-sizing: border-box;
    vertical-align: center;
}
