.bookInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;

    & img {
        display: block;
        margin: auto auto;
    }
}

.image, .infoWrap {
    padding: 0 50px;
    position: relative;
}

.image {
    background-color: #def3e0;
}

.icon {
    padding: 4px 9px;
    background-color: #252121;
    color: white;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 91.8%;

    :hover {
        color: #1f672c;
    }
}

.wrap {
    border-top: 1px solid rgb(187, 181, 181);
    padding-top: 30px;
}

.priceRate {
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.rate {
    font-size: 15px;

    & span {
        margin: 0 3px;
        cursor: pointer;
    }
}

.authors, .publisher, .language {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

    & label {
        color: #807d7d;
        width: 20%;
    }
}

.details {
    margin-top: 30px;
    margin-bottom: 80px;
}

.control {
    display: flex;
    flex-direction: column;

    & button {
        padding: 10px 0;
        font-size: 18px;
        text-transform: uppercase;
        border: 0;
        cursor: pointer;
        background: rgb(0, 2, 3);
        background: linear-gradient(333deg, rgb(93, 180, 134) 10%, rgb(224, 255, 237) 50%, rgb(93, 180, 134) 90%);
        font-weight: bold;

    }

    :hover {
        background: rgb(0, 2, 3);
        background: linear-gradient(333deg, rgb(45, 129, 88) 10%, rgb(155, 182, 166) 50%, rgb(45, 129, 88) 90%);
        color: white;
    }

    & span {
        text-align: center;
    }
}
