.bookInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;

    & img {
        display: block;
        margin: auto auto;
    }
}

.image, .infoWrap {
    padding: 0 50px;
}

.wrap {
    border-top: 1px solid rgb(187, 181, 181);
    padding-top: 30px;
}

.priceRate {
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.rate {
    font-size: 15px;

    & span {
        margin: 0 3px;
        cursor: pointer;
    }
}

.authors, .publisher, .language {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

    & label {
        color: #807d7d;
        width: 20%;
    }
}

.details {
    margin-top: 30px;
    margin-bottom: 80px;
}

.control {
    display: flex;
    flex-direction: column;

    & button {
        padding: 10px 0;
        font-size: 18px;
        text-transform: uppercase;
        border: 0;
        cursor: pointer;
        background: rgb(0, 2, 3);
        background: linear-gradient(333deg, rgb(93, 180, 134) 10%, rgb(224, 255, 237) 50%, rgb(93, 180, 134) 90%);
        font-weight: bold;
    }

    & span {
        text-align: center;
    }
}


/*.navigation {*/
/*    @media (max-width: $mobile) {*/
/*        display: none;*/
/*    }*/

/*    &-list {*/
/*        display: flex;*/
/*        justify-content: space-between;*/
/*        &__item {*/
/*            border-bottom: 3px solid transparent;*/
/*            width: 134px;*/
/*            text-align: center;*/
/*            &:hover {*/
/*                border-bottom: 3px solid $color-BABBC5;*/
/*            }*/
/*            &:active {*/
/*                border-bottom: 3px solid $color-E71414;*/
/*            }*/

/*            @media (max-width: $tablet) {*/
/*                width: 112px;*/
/*            }*/
/*            a {*/
/*                @include font($font-weight-700, $font-size-13px);*/
/*                @include item-link($color-FFFFFF);*/
/*                padding: 36px 0;*/
/*                &:active {*/
/*                    color: $color-E71414;*/
/*                }*/
/*            }*/
/*        }*/
/*    }*/
/*}*/
