.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.arrow {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
    color: black;
    font-weight: bold;
    background-color: #5DB486FF;
    padding: 7px 3px;
    font-size: 14px;

    & span {
        margin: 0 5px;
    }
}

.paginationContainer {
    display: flex;
    list-style: none;
    width: 7%;
    justify-content: space-between;
    padding-left: 0;

    :hover {
        color: white;
        background-color: #5DB486FF;
    }
}

.paginationItem {
    cursor: pointer;
    background-color: #a3c9b3;
    padding: 7px;
    font-size: 14px;
    color: black;

    /*& .active {*/
    /*    color: red;*/
    /*    background-color: lightskyblue;*/
    /*}*/
}

.active {
    color: red;
    background-color: lightskyblue;
}

.bookContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*margin-bottom: 30px;*/

    & a {
        color: black;
    }
}

.lock {
    background-color: #12421b;
    pointer-events: none;
    padding: 7px 3px;
    font-size: 14px;
    color: white;

    & span {
        margin: 0 5px;
    }
}
